*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

.navbar__navigation-logo {
  width: 70px;
  margin-right: 10px;
}

@media (max-width: 380px) {
  .navbar__navigation-logo {
    width: 46px;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #0e70b7;
}

.scroll-fix::before {
  content: "";
  display: block;
  height: 77px;
  margin-top: -77px;
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

nav a, nav i {
  color: #ffffff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: #0e70b7;
}

nav .navbar-brand {
  font-weight: bold;
  color: #0e70b7;
}

nav .navbar-brand-span {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .navbar-brand-span:hover {
  color: #0e70b7;
}

nav .active {
  color: #0e70b7;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/l.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

header .header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

header .header__span {
  color: #0e70b7;
}

header .header__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

header .header__paragraph {
  font-size: 16px;
}

.arrow .fa-chevron-down {
  display: none;
}

header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  font-size: 18px;
  text-transform: uppercase;
}

#aboutus p {
  font-size: 14px;
}

#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutus .aboutus-hover:hover {
  color: #0e70b7;
}

#aboutus-hero {
  color: #ddd;
  overflow: hidden;
}

#aboutus-hero .jumbotron {
  position: relative;
  padding: 60px 0;
  background-image: url("../img/n.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#aboutus-hero .jumbotron h2 {
  font-size: 32px;
}

#aboutus-hero .jumbotron i {
  font-size: 35px;
}

#aboutus-hero .jumbotron p {
  font-size: 14px;
}

#aboutus-hero .about-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#aboutus-hero .about-hero-item {
  margin: 10px 0;
}

#jobs h2 {
  text-transform: uppercase;
  text-align: center;
}

#jobs .carousel-item {
  position: relative;
  height: 400px;
}

#jobs .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#jobs .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#jobs .carousel-indicators {
  padding-bottom: 20px;
}

#jobs .card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#jobs .card-deck .card {
  margin-top: 20px;
}

@media (min-width: 375px) {
  .header__title {
    font-size: 36px;
  }
  #aboutus-hero .jumbotron h2 {
    font-size: 36px;
  }
  #aboutus-hero .jumbotron h3 {
    font-size: 32px;
    text-transform: uppercase;
  }
  #aboutus-hero .jumbotron p {
    font-size: 18px;
  }
}

@media (min-width: 414px) {
  #aboutus-hero .jumbotron {
    padding: 80px 0;
  }
}
/*# sourceMappingURL=main.css.map */