*, *::after, *::before
    box-sizing: border-box
    margin: 0
    
html 
    scroll-behavior: smooth    
body 
    position: relative
    font-family: 'Montserrat', sans-serif   

.navbar__navigation-logo
    width: 70px
