$blue-color: #0e70b7

*, *::after, *::before
    box-sizing: border-box
    margin: 0
    
html 
    scroll-behavior: smooth    
body 
    position: relative
    font-family: 'Montserrat', sans-serif   
    background-color: #333
.navbar__navigation-logo
    width: 70px
    margin-right: 10px
    @media (max-width: 380px)
        width: 46px
.wrapper
    width: 80%
    margin: 0 auto

    h2 
        text-transform: uppercase
        text-align: center
.underline 
    margin: 0 auto 40px
    width: 60px
    height: 4px
    background-color: $blue-color    
.scroll-fix::before 
    content: ""
    display: block
    height: 77px
    margin-top: -66px
nav 
    text-transform: uppercase
    transition:  background-color .6s
    a, i 
        color: #ffffff
        transition: color .3s

    a:hover 
        color: $blue-color  
    

    .navbar-brand 
        font-weight: bold
        color: $blue-color
        
    .navbar-brand-span
        color: #fff  
        transition: color .3s
    .navbar-brand-span:hover 
        color: $blue-color    
    .active
        color: $blue-color
.shadow-bg 
    background-color: rgba(0, 0, 0, .8)
   
header
    height: 100vh
    background-image: url("../img/l.jpg")
    background-position: center
    background-size: cover
    background-attachment: fixed
    overflow: hidden
    position: relative


    .header__text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #ffffff
        text-transform: uppercase
        text-align: center
        z-index: 1

    .header__span
        color: $blue-color
    .header__title
        font-size: 30px
        font-weight: bold
        margin-bottom: 20px
    .header__paragraph
        font-size: 16px    

.fa-chevron-down
    display: none
header::after
    position: absolute
    content: ""
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0 ,0 ,.7)

    
#aboutus
    i 
        margin-top: 20px
        font-size: 30px
    h3 
        font-size: 18px
        text-transform: uppercase
    p 
        font-size: 14px   
    .aboutus-hover 
        transition: color .3s
    .aboutus-hover:hover 
        color: $blue-color
    
    
    
    
    
    
    
    
    
    
@media (min-width: 375px)
    .header__title
        font-size: 36px

    
